baseURL = "https://www.nashome.cn/"
# [en, zh-cn, fr, pl, ...] determines default content language
# [en, zh-cn, fr, pl, ...] 设置默认的语言
defaultContentLanguage = "zh-cn"

theme = "LoveIt"

themesDir = "themes"

title = "Blog My Life"

enableRobotsTXT = true

enableGitInfo = true

enableEmoji = true

[languages]
  [languages.zh-cn]
    weight = 2
    languageCode = "zh-CN"
    languageName = "简体中文"
    hasCJKLanguage = false
    paginate = 12
    googleAnalytics = "UA-105751499-1"
    copyright = "This work is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License."
    # 菜单配置
    [languages.zh-cn.menu]
      [[languages.zh-cn.menu.main]]
        identifier = "posts"
        pre = ""
        post = ""
        name = "所有文章"
        url = "/posts/"
        title = ""
        weight = 1
      [[languages.zh-cn.menu.main]]
        identifier = "tags"
        pre = ""
        post = ""
        name = "标签"
        url = "/tags/"
        title = ""
        weight = 2
      [[languages.zh-cn.menu.main]]
        identifier = "categories"
        pre = ""
        post = ""
        name = "分类"
        url = "/categories/"
        title = ""
        weight = 3
      [[languages.zh-cn.menu.main]]
        identifier = "github"
        pre = "<i class='fab fa-github fa-fw'></i>"
        post = ""
        name = ""
        url = ""
        title = "GitHub"
        weight = 4
    [languages.zh-cn.params]
      description = "A blog recording my life"
      keywords = ["Dynamics AX", "Github" ,"Linux", "Synology","HUGO","Tutorial","Technology"]
      [languages.zh-cn.params.app]
        title = ""
        noFavicon = false
        svgFavicon = ""
        themeColor = "#ffffff"
        iconColor = "#5bbad5"
        tileColor = "#da532c"
      [languages.zh-cn.params.search]
        enable = true
        type = "algolia"
        contentLength = 4000
        placeholder = ""
        maxResultLength = 10
        snippetLength = 50
        highlightTag = "em"
        absoluteURL = false
        canonifyurls = true
        [languages.zh-cn.params.search.algolia]
          index = "hugoblogloveit"
          appID = "EO42BFKWB5"
          searchKey = "d3ef25fc7cb90a144ea0139748e4cf6b"
      # 主页信息设置
      [languages.zh-cn.params.home]
        rss = 10
        # 主页个人信息
        [languages.zh-cn.params.home.profile]
          enable = true
          gravatarEmail = ""
          avatarURL = "https://nashome-image-bucket.oss-accelerate.aliyuncs.com/Images/avatar.png?x-oss-process=style/thumbnail"
          title = "" #zhaoqiang's blog
          subtitle = "A blog recording my life"
          typeit = true
          social = true
          disclaimer = ""
        # 主页文章列表
        [languages.zh-cn.params.home.posts]
          enable = true
          paginate = 6
      [languages.zh-cn.params.social]
        GitHub = "ZhaoqiangCn"
        Instagram = "zq19890000"
        Email = "zq19890000@gmail.com"
        Telegram = "jaoqiang"
        Youtubechannel = "UCb71N1EWfn12QGEfZ-5GIQA?view_as=subscriber"
        Bilibili = "474553042"
        RSS = true
[params]
  version = "0.2.X"
  # 网站默认主题 ("light", "dark", "auto")
  defaultTheme = "auto"
  gitRepo = ""
  fingerprint = ""
  dateFormat = "2006-01-02"
  images = ["/logo.png"]
  # 页面头部导航栏配置
  [params.header]
    # 桌面端导航栏模式 ("fixed", "normal", "auto")
    desktopMode = "fixed"
    mobileMode = "auto"
    [params.header.title]
      logo = ""
      name = "zhaoqiang's blog"
      pre = "<i class='far fa-kiss-wink-heart fa-fw'></i>"
      post = ""
      typeit = false
  # 页面底部信息配置
  [params.footer]
    enable = true
    custom = ''
    hugo = true
    copyright = true
    author = true
    since = 2016
    icp = '<a href="http://www.beian.miit.gov.cn">沪ICP备17033498号</a>'
    license= '<a rel="license external nofollow noopener noreffer" href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>'
  # Section (所有文章) 页面配置
  [params.section]
    paginate = 20
    dateFormat = "01-02"
    rss = 10
  # List (目录或标签) 页面配置
  [params.list]
    paginate = 20
    dateFormat = "01-02"
    rss = 10
  # 文章页面配置
  [params.page]
    hiddenFromHomePage = false
    hiddenFromSearch = false
    twemoji = true
    lightgallery = true
    ruby = true
    fraction = true
    fontawesome = true
    linkToMarkdown = true
    rssFullText = false
    # 目录配置
    [params.page.toc]
      enable = true
      keepStatic = false
      auto = false
    # 代码配置
    [params.page.code]
      copy = true
      maxShownLines = 10
    [params.page.math]
      enable = false
      blockLeftDelimiter = ""
      blockRightDelimiter = ""
      inlineLeftDelimiter = ""
      inlineRightDelimiter = ""
      copyTex = true
      mhchem = true
    [params.page.mapbox]
      accessToken = "pk.eyJ1IjoiZGlsbG9uenEiLCJhIjoiY2s2czd2M2x3MDA0NjNmcGxmcjVrZmc2cyJ9.aSjv2BNuZUfARvxRYjSVZQ"
      lightStyle = "mapbox://styles/mapbox/light-v10?optimize=true"
      darkStyle = "mapbox://styles/mapbox/dark-v10?optimize=true"
      navigation = true
      geolocate = true
      scale = true
      fullscreen = true
    # 文章页面的分享信息设置
    [params.page.share]
      enable = true
      Twitter = true
      Facebook = true
      Linkedin = false
      Whatsapp = false
      Pinterest = false
      Tumblr = false
      HackerNews = true
      Reddit = false
      VK = false
      Buffer = false
      Xing = false
      Line = true
      Instapaper = false
      Pocket = false
      Digg = false
      Stumbleupon = false
      Flipboard = false
      Weibo = true
      Renren = false
      Myspace = false
      Blogger = false
      Baidu = false
      Odnoklassniki = false
      Evernote = false
      Skype = false
      Trello = false
      Mix = false
    # 评论系统设置
    [params.page.comment]
      enable = true
      [params.page.comment.disqus]
        enable = false
        shortname = ""
      [params.page.comment.gitalk]
        enable = false
        owner = ""
        repo = ""
        clientId = ""
        clientSecret = ""
      [params.page.comment.valine]
        enable = true
        appId = 'Bu42IhLNJc94WvCDKSsRwTqa-gzGzoHsz'
        appKey = 'bKSP5XiBoIHs8PyXC4uhGhqQ'
        placeholder = ""
        avatar = "mm"
        meta= ""
        pageSize = 10
        lang = ""
        visitor = true
        recordIP = true
        highlight = true
        enableQQ = false
        serverURLs = ""
        emoji = ""
      [params.page.comment.facebook]
        enable = false
        width = "100%"
        numPosts = 10
        appId = ""
        languageCode = ""
      [params.page.comment.telegram]
        enable = false
        siteID = ""
        limit = 5
        height = ""
        color = ""
        colorful = true
        dislikes = false
        outlined = false
      [params.page.comment.commento]
        enable = false
      [params.page.comment.utterances]
        enable = false
        # owner/repo
        repo = ""
        issueTerm = "pathname"
        label = ""
        lightTheme = "github-light"
        darkTheme = "github-dark"
    # 第三方库配置
    [params.page.library]
      [params.page.library.css]
      [params.page.library.js]
    # 页面 SEO 配置
    [params.page.seo]
      images = []
      [params.page.seo.publisher]
        name = "zhaoqiang"
        logoUrl = "/images/avatar.png"
  # TypeIt 配置
  [params.typeit]
    speed = 100
    cursorSpeed = 1000
    cursorChar = "|"
    duration = -1
  [params.verification]
    google = ""
    bing = ""
    yandex = ""
    pinterest = ""
    baidu = ""
  [params.seo]
    image = "/images/Apple-Devices-Preview.png"
    thumbnailUrl = "/images/screenshot.png"
  [params.analytics]
    enable = true
    [params.analytics.google]
      id = "UA-105751499-1"
      anonymizeIP = true
    [params.analytics.fathom]
      id = ""
      server = ""
  [params.cookieconsent]
    enable = false
    [params.cookieconsent.content]
      message = ""
      dismiss = ""
      link = ""
  [params.cdn]
    data = "jsdelivr.yml"
  [params.compatibility]
    polyfill = false
    objectFit = false
# Markup related configuration in Hugo
# Hugo 解析文档的配置
[markup]
  [markup.highlight]
    codeFences = true
    guessSyntax = true
    lineNos = true
    lineNumbersInTable = true
    noClasses = false
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.renderer]
      unsafe = true
  [markup.tableOfContents]
    startLevel = 1
    endLevel = 6
[author]
  name = "zhaoqiang"
  email = ""
  link = ""
[sitemap]
  changefreq = "weekly"
  filename = "sitemap.xml"
  priority = 0.5

[Permalinks]
  # posts = ":year/:month/:filename"
   #posts = ":filename"

[privacy]

  [privacy.googleAnalytics]
    # ...
  [privacy.twitter]
    enableDNT = true
  [privacy.youtube]
    privacyEnhanced = true

[mediaTypes]
  [mediaTypes."text/plain"]
    suffixes = ["md"]

[outputFormats.MarkDown]
  mediaType = "text/plain"
  isPlainText = true
  isHTML = false

[outputs]
  home = ["HTML", "RSS", "JSON"]
  page = ["HTML", "MarkDown"]
  section = ["HTML", "RSS"]
  taxonomy = ["HTML", "RSS"]
  taxonomyTerm = ["HTML"]
